@import '../../assets/palette/_colors';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host {
  display: block;
  background-color: $darkblue; /* Apply dark blue background to the entire component */
}

.splash-screen {
  height: 100vh; /* Set the height of the splash screen to the full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 5s ease-in-out;
}

.fade-in-delay-1,
.fade-in-delay-2,
.fade-in-delay-3,
.fade-in-delay-4,
.fade-in-delay-5 {
  animation: fadeIn 5s ease-in-out;
}

/* Add a delay to fade in the images after they have loaded */
.fade-in-delay-1 {
  animation-delay: 2s;
}

.fade-in-delay-2 {
  animation-delay: 2s;
}

.fade-in-delay-3 {
  animation-delay: 2s;
}

.fade-in-delay-4 {
  animation-delay: 2s;
}

.fade-in-delay-5 {
  animation-delay: 2s;
}

.next-section {
  height: 100vh; /* Set the height of the next section to the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s ease-in-out;
  animation-delay: 10s; /* Delay the fade-in animation of the next section by 10 seconds */
}



.fade-out-delay {
  animation: fadeOut 2s ease-in-out;
  animation-delay: 5s; /* Delay the fade-out animation by 5 seconds */
}
.fade-out-delay {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.fade-out-delay.fade-out {
  opacity: 0;
}

.fade-out-delay.fade-out {
  transition-delay: 5s; /* Delay the fade-out animation by 5 seconds */
}
