@import '../../assets/palette/_colors';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host {
  display: block;
  background-color: $darkblue; /* Apply dark blue background to the entire component */
}

.splash-screen {
  height: 100vh; /* Set the height of the splash screen to the full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 5s ease-in-out;
}

.fade-in-delay-1,
.fade-in-delay-2,
.fade-in-delay-3,
.fade-in-delay-4,
.fade-in-delay-5 {
  animation: fadeIn 5s ease-in-out;
}

/* Add a delay to fade in the images after they have loaded */
.fade-in-delay-1 {
  animation-delay: 2s;
}

.fade-in-delay-2 {
  animation-delay: 2s;
}

.fade-in-delay-3 {
  animation-delay: 2s;
}

.fade-in-delay-4 {
  animation-delay: 2s;
}

.fade-in-delay-5 {
  animation-delay: 2s;
}

.next-section {
  height: 100vh; /* Set the height of the next section to the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s ease-in-out;
  animation-delay: 10s; /* Delay the fade-in animation of the next section by 10 seconds */
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out-delay {
  animation: fadeOut 2s ease-in-out;
  animation-delay: 5s; /* Delay the fade-out animation by 5 seconds */
}
.fade-out-delay {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.fade-out-delay.fade-out {
  opacity: 0;
}

.fade-out-delay.fade-out {
  transition-delay: 5s; /* Delay the fade-out animation by 5 seconds */
}
