@import '../../assets/palette/_colors';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host {
  display: block;
  background-color: $darkblue; /* Apply dark blue background to the entire component */
  overflow: hidden;
}

.bg-image{
  background: url('../../assets/images/cam_map.png') no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
  opacity: 0.9
}
.hover:hover{
  background-color: #6a79b0;
}


